<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" name="#">My english S'cool</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#method_view">Описание метода</a>
                    </li>
                    <li>
                        <a title="Буду рада вашему звонку">+7 (900) 230-65-74</a>
                    </li>
                    <li>
                        <a href="#contact">Контакты</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Репетитор английского языка</h1>
                        <h3 id="after_form">My English S`cool- Английский язык с Дарьей Кастелан.</h3>
                          <%= render 'form' %>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <a id="method_view"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Описание метода:</h2>
                    <p class="lead"> Я не использую никаких учебников, так как считаю, что они заставляют моих учеников зевать. Я использую авторский метод, который позволяет учить английский интересно, интенсивно и эффективно. Этот метод включает себя: мультимедийное оснащение уроков, живую практику с носителем языка, креативное домашнее задание, которое никогда не позволит Вам скучать. Если Вы хотите изучать английский вместе со мной, записывайтесь на бесплатный вводный урок!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("dash.png", class: "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row flexing">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Как проходит занятие?</h2>
                    <p class="lead"><span class="enter-word">Вводное занятие</span> <br> Продолжительность занятия 20 минут. Цель занятия: познакомиться с учеником, определить его уровень, цели, назначить время проведения дальнейших занятий. Я оценю Ваш уровень и составлю персональную программу обучения. <br><span class="enter-word">Урок</span> <br> Продолжительность занятия 60 минут. Проходит по Skype. Программа обучения составляется с учетом Ваших потребностей и интересов. Продолжительность обучения зависит от поставленных Вами целей и результатов их достижения.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6 align-item">
                    <!-- <img class="img-responsive" src="images/dog.png" alt=""> -->
                    <!-- <%= image_tag("dog.png", class: "img-responsive") %> -->
                    <p class="check-list"> <i class="fa fa-check fa-fw icons"></i> Никаких учебников </p>
                    <p class="check-list"> <i class="fa fa-check fa-fw icons"></i> Интересные уроки </p>
                    <p class="check-list"> <i class="fa fa-check fa-fw icons"></i> Современные методики </p>
                    <p class="check-list"> <i class="fa fa-check fa-fw icons"></i> Авторская программа </p>
                    <p class="check-list"> <i class="fa fa-check fa-fw icons"></i> Креативное домашнее задание </p>
                    <p class="check-list"> <i class="fa fa-check fa-fw icons"></i> Практика с носителем языка </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Группа Вконтакте</h2>
                    <p class="lead"> Хотите иузучать английский язык вконтакте. Добро пожаловать в мою <a target="_blank" href="https://vk.com/public117349479">группу</a>. Давайте изучать английский вместе</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class: "img-responsive">
                        <script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
                        <!-- VK Widget -->
                        <div id="vk_groups"></div>
                        <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 4, height: "400", color2: '050505', color3: '2E5785', width: "auto"}, 117349479);
                        </script>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a id="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Контакты</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://vk.me/id325780780" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-vk fa-fw"></i> <span class="network-name">Vkontakte</span></a>
                        </li>
                        <li>
                            <span class="btn btn-default btn-lg"><i class="fa fa-phone fa-fw"></i> <span class="network-name">+7(900)230-65-74</span></span>
                        </li>
                        <li>
                            <a href="skype:dasha10050?chat" class="btn btn-default btn-lg"><i class="fa fa-skype fa-fw"></i> <span class="network-name">Skype</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

<script charset="UTF-8" type="text/javascript">vkdId ='obncagjhlkbolilenmldojgpliolmoak';</script><script charset="UTF-8" type="text/javascript">extensionsURL = 'chrome-extension://obncagjhlkbolilenmldojgpliolmoak/';</script><script charset="UTF-8" type="text/javascript">vkd_settings =JSON.parse('{"showBitrate":"showHover"}')</script><script charset="UTF-8" type="text/javascript" src="chrome-extension://obncagjhlkbolilenmldojgpliolmoak/assets/js/in_vk.js"></script></body>



